* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 300px;
  height: 600px;
  font-family: 'Courier New', Courier, monospace;
  background-color: #F5F5DC;
  background-image: url('../assets/bg_paper.png');
  background-size: cover;
  background-position: center;
  color: #1A1A1A;
}

.banner {
  display: block;
  width: 100%;
  height: auto;
}
